<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Menerima variabel 'name' dari API (app.py) -->
    <h1> Hello My Name Is {{name}} </h1>
    {% if condition == True %}
    <h3> Today Is Raining </h3>

    {% else %}
    <h3> Today Is Not Raining </h3>

    {% endif %}

    <!-- Menampilkan list to-do -->
    <ul>
        {% for todo in MyToDo %}
            <li>{{todo}}</li>
        {% endfor %}
    </ul>

    
    {% block content %}{% endblock  %}

</body>
</html>